---
import { ChevronDown, ChevronRight, Languages, Monitor, Moon, Sun } from '@lucide/astro';
import '../styles/global.css'
import { t } from '../i18n';
import { useLocale } from '../i18n/context';
import LanguagePicker from '../components/LanguagePicker.astro';

interface Props {
	title?: string;
	description?: string
	context?: string
}

const { context = 'landing'} = Astro.props
const lang = useLocale(Astro)
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewpor🇪🇸t" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{t(lang, 'title')}</title>
		<meta name="description" content={t(lang, 'description')}>
	</head>
	<body class={`text-typography-main ${context}`}>
		<header class="w-full h-16 fixed top-0 z-50 flex animate-header px-12">
			<nav class="flex items-center justify-between w-full h-full">
				<div>logo</div>
				<div class="flex items-center justify-between gap-x-3">
					<div class="relative group py-4">
						<button data-action="downloadCV" title="Descargar CV" class="cursor-pointer flex items-center gap-x-0.5 hover:text-typography-secondary" aria-label="Descargar CV">
							<span>
								Resume
							</span>
							<ChevronDown size={16} />
						</button>
						<div data-cv-dropdown class="absolute top-[calc(4rem_/_2_+_20px)] bg-surface-card border border-edge px-3 py-2 rounded-md group-hover:flex hidden flex-col gap-y-1 text-sm font-semibold">
							<a class="flex items-center gap-x-1 w-full hover:bg-surface-elevated px-2 py-1 rounded-sm" href="/CV_Ignacio_Sotelo_ES.pdf" download>
									<span>ES</span>
									<img class="size-5" src="/flags/es.svg" alt="">
								</a>
							<a class="flex items-center gap-x-1 w-full hover:bg-surface-elevated px-2 py-1 rounded-sm" href="/CV_Ignacio_Sotelo_EN.pdf" download>
									<span>EN</span>
									<img class="size-5" src="/flags/us.svg" alt="">
								</a>
						</div>
					</div>
					<div class="h-5 p-px bg-edge rounded-full" />
					<div class="relative group py-4">
						<button data-action="switchLang" id="changeLanguage" class="flex items-center gap-x-0.5 py-2 px-3 cursor-pointer hover:text-typography-secondary" aria-label="Cambiar idioma">
							<Languages size={20} />
							<ChevronDown size={16} />
						</button>
						<LanguagePicker />
					</div>
					<div class="h-5 p-px bg-edge rounded-full" />
					<div class="relative cursor-pointer py-4">
						<div id="themePicker" class="flex items-center p-0.5 bg-surface-elevated border border-edge rounded-full " aria-label="Cambiar tema">
							<span data-theme="system" class="p-1.5 rounded-full hover:bg-surface-card aria-selected:bg-surface-card" title={t(lang, 'theme.system')}>
								<Monitor size={20} />
							</span>
							<span data-theme="light" class="p-1.5 rounded-full hover:bg-surface-card aria-selected:bg-surface-card" title={t(lang, 'theme.light')}>
								<Sun size={20} />
							</span>
							<span data-theme="dark" class="p-1.5 rounded-full hover:bg-surface-card aria-selected:bg-surface-card" title={t(lang, 'theme.dark')}>
								<Moon size={20} />
							</span>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<slot />
	</body>
</html>
<script>
	// const themePicker = document.getElementById('themePicker');
	const userPref = localStorage.getItem('theme-preference')
	const systemPref = window.matchMedia('(prefers-color-scheme: dark')
	const themePickers = document.querySelectorAll('[data-theme]')
	

	const applyTheme = (theme) => {

		document.body.classList.remove('light', 'dark', 'system')
		if(theme === 'dark'){
			document.body.classList.add('dark')
		} else if(theme === 'system') {
			if(systemPref.matches) {
				document.body.classList.add('dark')
			} else {
				document.body.classList.add('light')
			}
		} else {
			document.body.classList.add('light')
		}
	}

	applyTheme(userPref || 'system')

	themePickers.forEach(picker => {
		const theme = (picker as HTMLElement)?.dataset?.theme
		if(theme === (userPref || 'system')) {
			picker.setAttribute('aria-selected', 'true')
		} else {
			picker.removeAttribute('aria-selected')
		}
	})

	themePickers.forEach(picker => picker?.addEventListener('click', (e) => {
		const theme = (picker as HTMLElement)?.dataset?.theme
		if(!theme) return
		localStorage.setItem('theme-preference', theme)
		themePickers.forEach(p => p.removeAttribute('aria-selected'))
		picker.setAttribute('aria-selected', 'true')
		applyTheme(theme)
	}))
</script>