---
import '../styles/global.css'
import { t } from '@/i18n';
import { useLocale } from '../i18n/context';
import { ClientRouter } from 'astro:transitions';
import Header from '@/components/Header.astro';

interface Props {
	title?: string;
	description?: string
	context?: string
}

const { context = 'landing'} = Astro.props
const lang = useLocale(Astro)
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{t(lang, 'title')}</title>
		<meta name="description" content={t(lang, 'description')}>
		<meta name="author" content="Ignacio Sotelo" />
		<meta name="keywords" content="Portfolio, Developer, Software Engineer, Web Developer, Fullstack, Frontend, Backend, JavaScript, TypeScript, React, Node.js, Astro" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
		<link rel="icon" href="/favicon/favicon.ico">
		<ClientRouter />
		<script>
			import { applyTheme } from '../scripts/theme'

			const userPref = localStorage.getItem('theme-preference')
			applyTheme(userPref || 'system')
			
			// Asegurar que el tema se aplica en transiciones, porque ClientRouter reemplaza el HTML antes de aplicar las clases.
			document.addEventListener('astro:before-swap', (ev) => {
				const theme = localStorage.getItem('theme-preference') || 'system'
				applyTheme(theme, ev.newDocument.body)
			})

			
		</script>
	</head>
	<body class={`text-typography-main ${context}`}>
		{
			context === 'projects' ? 
			(null) : 
			(
				<Header />
			)
		}
		<slot />
	</body>
</html>